conveyor:
  repository:
    type: git
    url: git@github.com:webcreate/conveyor.git
  targets:
    production:
      transport:
      type: sftp
      host: ~
      path: conveyor
      user: ~
      pass: ~
  build:
    dir: /tmp/conveyor/build
    derived:
      - { source: '*', derived: conveyor.phar }
      - { source: composer.lock, derived: vendor/ }
    tasks:
      -
        type: shell
        command: composer install
        creates: ['vendor/']
      -
        type: remove
        files:
          - conveyor.yml
          - composer.*
          - tests/
      -
        type: phar
        filename: conveyor.phar
        stub: bin/conveyor
      -
        type: remove
        files: '*'
        exclude: 'conveyor.phar'
  deploy:
    strategy: simple
